@font-face {
    font-family: "ibm_plex_monoregular";
    src:
        url("/fonts/ibmplexmono-regular-webfont.woff2") format("woff2"),
        url("/fonts/ibmplexmono-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    color: #222;
    font-family: "IBM Plex Mono", monospace;
    line-height: 1.5;
    margin: 1rem;
    max-width: 768px;
}

header {
    border-bottom: 1px solid #222;
    margin-bottom: 1rem;
}

footer {
    border-top: 1px solid #222;
    margin-top: 1rem;
}

a {
    color: #f00;
    text-decoration: none;
}
