:root {
    --bg-color: #e6e9ef;
    --bg-variant: #dce0e8;
    --primary: #ff2340;
    --primary-variant: #ff405a;
    --secondary: #04a5e5;
    --font-color: #212529;
}

.dark {
    --bg-color: #262427;
    --bg-variant: #000000;
    --primary: #c6e472;
    --primary-variant: #ff7272;
    --secondary: #64d2e8;
    --font-color: #fcfcfa;
}
