/* global styles */
html {
    height: 100%;
    margin: 0;
    cursor:
        url("/cursors/haiku-pointer.png") 0 0,
        default;
}

body {
    max-width: 768px;
    margin: 2rem auto;
    font-family: "Noto Sans", sans-serif;
    background: #336698;
}

img {
    border: 4px outset #ccc;
    display: block;
    width: 94%;
    margin: 0 auto;
}

a {
    cursor:
        url("/cursors/haiku-link.png") 0 0,
        pointer;
}

::selection {
    background: #ffea9c;
    color: #010100;
}

/* main layout */
#window {
    padding: 3px;
    border: 2px outset #babcb9;
    background: #e4e4e4;
}

#window-content {
    border: 2px solid #babcb9;
    background: #fefffc;
}

main {
    padding: 0 4px;
    background: #fefffc;
}

main p,
main span,
main li,
main td,
main th,
main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
    cursor:
        url("/cursors/haiku-beam.png") 8 8,
        text;
}

footer {
    padding: 4px;
    border-top: 2px solid #babcb9;
    line-height: 0.25;
    background: linear-gradient(#f6f6f6, #dbdbdb);
    user-select: none;
}

/* navigation */
nav {
    user-select: none;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    position: relative;
    padding: 5px 22px 5px 20px;
    border: 1px solid #babcb9;
    border-bottom: 0;
    font-weight: bold;
    background: linear-gradient(#f6f6f6, #dbdbdb);
    cursor:
        url("/cursors/haiku-link.png") 0 0,
        pointer;
}

nav li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border: 2px solid #babcb9;
    background: linear-gradient(#f6f6f6, #dbdbdb);
}

nav a {
    padding: 5px 8px;
    border-radius: 3px;
    color: #010100;
    text-decoration: none;
    cursor:
        url("/cursors/haiku-link.png") 0 0,
        pointer;
}

/* navigation states */
nav li:has(> a.active) {
    border: 1px solid #cfa707;
    border-bottom: 0;
    background: linear-gradient(#ffea9c, #ffcf13);
}

nav li:has(> a.active)::before {
    border: 2px solid #cfa707;
    background: linear-gradient(#ffea9c, #ffcf13);
}

nav a.active::before {
    content: "";
    position: absolute;
    top: calc(50% - 9px);
    right: 12px;
    z-index: 1;
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    border: 2px solid #cfa707;
    background: linear-gradient(#ffea9c, #ffcf13);
}

nav a.active::after {
    content: "";
    position: absolute;
    top: 52%;
    right: 5px;
    z-index: 0;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    box-sizing: border-box;
    border: 2px solid #cfa707;
    background: linear-gradient(#ffea9c, #ffcf13);
}

/* navigation submenu */
nav li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 150px;
    padding: 5px 0;
    border: 1px solid #aaa;
    background: #ececec;
}

nav li:hover ul {
    display: block;
}

/* general components */
.table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table-container table {
    min-width: 600px;
}

table {
    width: 100%;
    margin: 1rem 0;
    border-collapse: collapse;
    font-size: 0.95em;
}

table th,
table td {
    padding: 6px 10px;
    border: 1px solid #babcb9;
    text-align: left;
}

table th {
    font-weight: bold;
    background: #f6f6f6;
}

.section-card {
    padding: 4px;
    margin-bottom: 4px;
    border: 1px solid #dbdbdb;
    background: #f6f6f6;
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
}

.section-thumb {
    width: 120px;
    height: 90px;
    object-fit: cover;
    object-position: center;
    flex-shrink: 0;
    margin-right: 4px;
}
.section-text {
    display: flex;
    flex-direction: column;
}

.section-text h4 {
    margin: 0 0 0.5rem 0;
}

.section-text p {
    margin: 0;
}

.page-title {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

blockquote {
    margin: 0 1em;
    padding: 1px 6px;
    border-left: 4px solid #ffcf13;
    background: #ffea9c;
    color: #333;
}

/* responsive styles */
@media (max-width: 500px) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    thead {
        display: none;
    }

    tr {
        margin-bottom: 1rem;
        border: 1px solid #babcb9;
    }

    td {
        padding: 0.25rem 0;
        border: none;
        background: linear-gradient(#f6f6f6, #dbdbdb);
    }

    td::before {
        content: attr(data-label);
        display: block;
        font-weight: bold;
    }
}

@media (max-width: 768px) {
    .section-thumb {
        display: none;
    }
}
