html {
    height: 100%;
    margin: 0;
    cursor:
        url("/cursors/Pointer.png") 0 0,
        default;
}

body {
    font-family: "Noto Sans", sans-serif;
    background: #336698;
    max-width: 768px;
    margin: 2rem auto;
}

#window {
    border: 2px outset #babcb9;
    background: #e4e4e4;
    padding: 3px;
}

#window-content {
    border: 2px solid #babcb9;
    background: #fefffc;
}

nav {
    user-select: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    border: 1px solid #babcb9;
    border-bottom: 0;
    background: linear-gradient(#f6f6f6, #dbdbdb);
    padding: 5px 22px 5px 20px;
    font-weight: bold;
    position: relative;
    cursor:
        url("/cursors/haiku-link.png") 0 0,
        pointer;
}

nav li::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border: 2px solid #babcb9;
    background: linear-gradient(#f6f6f6, #dbdbdb);
    box-sizing: border-box;
}

nav a {
    text-decoration: none;
    color: #010100;
    padding: 5px 8px;
    border-radius: 3px;
    cursor:
        url("/cursors/haiku-link.png") 0 0,
        pointer;
}

nav li:has(> a.active) {
    background: linear-gradient(#ffea9c, #ffcf13);
    border: 1px solid #cfa707;
    border-bottom: 0;
}

nav li:has(> a.active)::before {
    background: linear-gradient(#ffea9c, #ffcf13);
    border: 2px solid #cfa707;
}

nav a.active::after {
    content: "";
    position: absolute;
    right: 5px;
    top: 52%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    border: 2px solid #cfa707;
    background: linear-gradient(#ffea9c, #ffcf13);
    box-sizing: border-box;
    z-index: 0;
}

nav a.active::before {
    content: "";
    position: absolute;
    right: 12px;
    top: calc(50% - 9px);
    width: 10px;
    height: 10px;
    border: 2px solid #cfa707;
    background: linear-gradient(#ffea9c, #ffcf13);
    box-sizing: border-box;
    z-index: 1;
}

nav li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #ececec;
    border: 1px solid #aaa;
    padding: 5px 0;
    min-width: 150px;
}

nav li:hover ul {
    display: block;
}

main {
    background: #fefffc;
    padding: 0 4px;
}

main p,
main span,
main li,
main td,
main th,
main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
    cursor:
        url("/cursors/haiku-beam.png") 8 8,
        text;
}

footer {
    line-height: 0.25;
    padding: 4px;
    border-top: 2px solid #babcb9;
    background: linear-gradient(#f6f6f6, #dbdbdb);
    user-select: none;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 1rem 0;
    font-size: 0.95em;
}

table th,
table td {
    border: 1px solid #babcb9;
    padding: 6px 10px;
    text-align: left;
}

table th {
    background: #f6f6f6;
    font-weight: bold;
}

.table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.table-container table {
    min-width: 600px;
}

@media (max-width: 500px) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    thead {
        display: none;
    }

    tr {
        margin-bottom: 1rem;
        border: 1px solid #babcb9;
    }

    td {
        background: linear-gradient(#f6f6f6, #dbdbdb);

        border: none;
        padding: 0.25rem 0;
    }

    td::before {
        content: attr(data-label);
        font-weight: bold;
        display: block;
    }
}

::selection {
    background: #ffea9c;
    color: #010100;
}
